/* setting up the body */
body
{
	text-align:center;
	position: absolute;
	width:100%;
	min-width:1280px;
	background-color:white;		/* here you can change background color */
	background-image: url('/images/lightgreytile.png');
	background-position:right;
	background-size: calc(50% - 640px);
	background-repeat:repeat-y;
	margin:auto;
}

#main
{
	max-width:1920px;
	min-width:1280px;
	background-color:white;
	margin:auto;
/*	box-shadow: 0 0 5px 1px #d7d8d9;*/
}

/*styling the titleback */

.title-back
{
	background-color:white; 
	box-shadow:none;
}

.title-back h2
{
	position: relative;
	left:100px;
	top: 150px;
	color: #002247;
	font-size:48px;
}

.title-back .row
{
	height: 700px;
}

.main-back .row
{
	background-image: url('/images/circuit-tree.jpg');
    background-size: cover;
	background-position:center;
	background-repeat: no-repeat;
}

.navbar ul
{
	box-shadow: none;
	text-shadow: none;
}

.navbar-transparent .main-logo h2
{
	color: #002247;
}

.navbar-transparent li
{
	color: #002247;
}

.scroll-separator
{
	width: 100%;
	padding: 50px 0 50px 0;
}

.triangleseparator
{
	background: white;
}

.fogback
{
	background-color:white;
	background-image: url("/images/fog2.png");
	background-position:right top;
	background-size:1000px 2000px;
	background-repeat:no-repeat;
}

#thin
{
	max-width: 1280px;
	margin:auto;
}

#thin .col-6
{
	padding: 40px 50px 40px 50px;
}

#thin .col-6 img
{
	height: 500px;
	margin: auto;
}

/* styling the trusted by section of the website */

.trustedby
{
	height:200px;
/*	box-shadow: 0 0 5px 0 black inset;*/
}

.trustedby img
{
	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition: all 0.1s ease-in-out;
	-o-transition: all 0.1s ease-in-out;
	transition: all 0.1s ease-in-out;
	max-height:100px;
	display:inline-flex;
	filter:grayscale(1);
	margin: 0 20px 0 20px;
}

.trustedby img:hover
{
	filter:grayscale(0);
}

#bottom-icons
{
	width:100%;
	padding: 200px 0 150px 0;
}

#bottom-icons .icons-row
{
	max-width: 1280px;
	margin:auto;
}

.icons-container
{
	margin: 20px;
	filter:blur(5px);
	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition: all 0.1s ease-in-out;
	-o-transition: all 0.1s ease-in-out;
	transition: all 0.1s ease-in-out;
}

.icons-container img
{
	width: 50%;
}

.icons-container:hover
{
	position:relative;
	filter:blur(0px);
}

/* ended styling the trusted by section of the website */
