/*
 *	this file is for a general styling theme for the website
 *	in here we style general elements that are repetitive
 *	and figure in multiple files and occurences like buttons
 *	or input fields
 */

@import url('https://fonts.googleapis.com/css?family=Montserrat|Montserrat+Subrayada|Noto+Sans+SC|Play|Raleway|Thasadith|Titillium+Web');

@font-face {
  font-family: "Emerald Grey";
  src: url('../fonts/Emerald-Grey.otf');
}

*
{
	outline:none;	
}

h1
{
	font-family: Play;
}

h2
{
	font-family: Play;
}

p
{
	font-family: "Noto Sans SC";
}

a
{
	color: inherit;
	text-decoration: none;
}

a:hover
{
	text-decoration: underline;
}

img
{
	user-drag: none; 
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

body
{
	font-family: "Noto Sans SC";
	height: 100%;
	text-align:center;
	position: absolute;
	min-width:1000px;
	width:100%;
	color:#002247;
	background-color:#eff0f2;		/* here you can change background color */
	margin:auto;
}

#main
{
	max-width:1920px;
	min-width:1280px;
	margin:auto;
	background-color:#eff0f2;
/*	box-shadow: 0 0 5px 1px #d7d8d9;*/
}

/* starting navbar styling */

.navbar
{
	position: fixed;
	top:0;
	left:0;
	z-index:5;
	min-width:1000px;
	width: 100%;
	text-align:right;
	margin:0;
}

.navbar ul
{
	margin:0;
	background-color: #1a2528;       /* here you can change navbar colors */
	box-shadow: 0 0 5px 1px #263238;
}

.navbar li
{
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	list-style: none;
	box-sizing: border-box;
	display:inline-table;
	padding:17px;
	border-bottom: 3px solid transparent;
}

.navbar li:hover
{
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	background-color: white;		/* here you can change hover color for navbar */
	color: #124559;
	border-bottom: 3px solid red;
}

.navbar a
{
	text-decoration:none;
	color: #eff0f2;
	font-family: "Raleway";
	font-size: 16px;
}

/* some navbar components like signup and signin should be in the left
** we will now style them */

.leftsidenav
{
	position: relative;
	left: 150px;
	float: left;
}

/* making a transparent version of the navbar */

.navbar-transparent
{
	background-color: transparent;
}

.navbar-transparent ul
{
	background-color: transparent;
}

.navbar-transparent .dropdown-menu li
{
	background-color: #00224a;
	color: white;
}

.navbar-transparent li:hover
{
	background-color: white;
	text-shadow:none;
	color:#00224a;
}

.gethelpbutton
{
	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition: all 0.1s ease-in-out;
	-o-transition: all 0.1s ease-in-out;
	transition: all 0.1s ease-in-out;	
	position:fixed;
	right:-120px;
	top:200px;
	background-color: red;
	height: 47px;
	width:170px;
}

.gethelpbutton span span
{
	color: white;
	font-family:"Noto Sans SC";
	font-size:16px;
	position:relative;
	top:11px;
	left:-12px;
}

.gethelpbutton:hover
{
	right:0px;
	cursor:pointer;
}

.gethelpbutton img
{
	float:left;
	padding: 6px;
}

/*  here styling the logo in the navbar*/

.main-logo
{
	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition: all 0.1s ease-in-out;
	-o-transition: all 0.1s ease-in-out;
	transition: all 0.1s ease-in-out;	
}

.hover-filter
{
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;	
	height: 57px;
    width: 0px;
    position: fixed;
    top: -4px;
	left:122px;
}

.main-logo img
{
	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition: all 0.1s ease-in-out;
	-o-transition: all 0.1s ease-in-out;
	transition: all 0.1s ease-in-out;	
	float:left;
	position:relative;
	top:5px;
}

.main-logo h2
{
	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition: all 0.1s ease-in-out;
	-o-transition: all 0.1s ease-in-out;
	transition: all 0.1s ease-in-out;	
/*	font-family: 'Montserrat Subrayada'; */
	font-family: 'Emerald Grey';
	font-size: 30px;
	position: fixed;
	top: -11px;
	left: 56px;
	height:44px;
	color: #eff0f2;
}

.main-logo:hover .hover-filter
{
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;	
	border-bottom:3px solid red;
	left:40px;
	width:182px;
}

.main-logo:hover img
{
	opacity:0.1;
}

/* here ended stylin the logo in the navbar*/

/* now styling the dropdown-menu */

.dropdown-container
{
	display:inline-table;
}

.dropdown-menu
{
	text-align:center;
	display:none;
	position: absolute;
	right: 0;
}

.dropdown-container:hover .dropdown-menu
{
	display:block;
}

.dropdown-menu li
{
	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition: all 0.1s ease-in-out;
	-o-transition: all 0.1s ease-in-out;
	transition: all 0.1s ease-in-out;	
	background-color:#eff0f2;	
}

.dropdown-menu li
{
	color:#314850;
	width:100%;
}
.dropdown-menu li:hover
{
	border-bottom: 3px solid transparent;
}

/* ended styling the dropdown-menu */

#navbar-logo
{
	position:absolute;
	left : 0;
}

#navbar-help
{
	display:none;  /* HERE I DISACTIVATED THE GET HELP BUTTON TEMPORARY */
	padding:20px;
	background-color: #FF220C;		/* change the help button in the navbar */
}

#navbar-help a
{
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	background-color: #FF220C;		/* style for help button in navbar */
	color:white;
}

#navbar-helpinfo
{
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	position:absolute;
	top:-80;
	right:0;
	z-index: -1;
	font-family: "Raleway";
	color: white;
	text-align: center;
	padding:20 15 20 15;
	background-color:#FF220C;		/* navbar help dropdown menu */
}

#navbar-help:hover #navbar-helpinfo
{
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	top:50px;						/* droping down the menu from help button */
}

#navbar-help:hover a
{
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	color: white;
	padding:44px;
	background-color:transparent;
}

/* ended styling the navbar*/

/* now styling the title back */
#title-separator
{
	position:absolute;
	top: 600px;
}

.title-back
{
	top:0px;
	width: 100%;
/*	background-image: linear-gradient(to right, #7b8ac7, #788fca, #7595cd, #739acf, #719fd1);*/
	background-size:cover;
	background-position: center;
	min-height:600px;
	box-shadow: 0px 0px 5px 5px lightgrey;
}

.title-back-filter
{
	position:relative;
	top: 40px;
	width: 100%;
	height: 0px;
	background-size:100%;
	background-repeat: repeat;
	box-shadow: 0 0 100px 40px black;
}

.title-back h1
{
	opacity: 0;
	-ms-transform:translateY(120%);
	transform:translateY(120%);
	font-size:60px;
	color:white;
	font-family:"Raleway";
	font-weight: 100;
	user-select: none;
	text-shadow: 0 0 4px black;
}
/* ended styling the titleback */

/*	
 *	now styling the buttons
 *	the idea is to have a general button class
 *	then style other types of buttons with other descriptive
 *	classes , like error , ok, and maybe colors like blue, red etc..
 */

.btn
{
	text-decoration:none;
	-webkit-transition: all 0.05s ease-in-out;
	-moz-transition: all 0.05s ease-in-out;
	-o-transition: all 0.05s ease-in-out;
	transition: all 0.05s ease-in-out;
	appearance:none;
	-webkit-appearance:none;
	-moz-appearance:none;
	background-color:#607D8B;
	color:white;
	font-size: 16px;
	font-family:"Noto Sans SC";
	padding: 15px;
	min-width:80px;
	min-height:40px;
	border:none;
	border-radius: 2px;
}

.btn:focus
{
	color:white;
	outline:none;
}

.btn:hover
{
	border: none;
	cursor: pointer;
	background-color:#455A64;
}

.btn:active
{
	color:white;
	background-color:#78909C;
}

/* styling for when the button is disabled and cannot be pressed*/

.btn:disabled,
.btn[disabled]{
	background-color: #CFD8DC;
	cursor: not-allowed;
}

/*
 *	now ended with general button style
 *	going to more precise button classes
 *	the name of classes will be such as btn-error and btn-ok
 */

.btn-error
{
	background-color: #F44336;
}

.btn-error:hover
{
	background-color:#C62828;
}

.btn-error:active
{
	background-color:#E57373;
}

/*
 *	now for the ok button
 */

.btn-ok
{
	background-color: #4CAF50;
}

.btn-ok:hover
{
	background-color:#2E7D32;
}

.btn-ok:active
{
	background-color:#66BB6A;
}

/* a dark blue version of the button */

.btn-blue
{
	background-color:#00224a;
}

.btn-blue:hover
{
	background-color:#00224ac7;
}

.btn-blue:active
{
	background-color:#00224aa3;
}


/*
 *	this is a gradient versions of the button
 */

.btn-bluepurple
{
	background: #8e2de2;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #8e2de2, #4a00e0);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #8e2de2, #4a00e0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	background-color: #7a00ea;
}

.btn-bluepurple:hover
{
	background:transparent;
	color:#7a00ea;
	border: 1px solid #7A00ea;
}

.btn-bluepurple:active
{
	background:#7a00ea;
	color:white;
}

.btn-lightblue
{
	background-image: linear-gradient(to right, #7b8ac7, #788fca, #7595cd, #739acf, #719fd1);
}

.btn-lightblue:hover
{
	background:transparent;
	color:#6e94d1;
	border: 1px solid #6e94d1;
}

.btn-lightblue:active
{
	background:#6e94d1;
	color:white;
}

.btn-bluegreen
{
	background: #50C9C3;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #96DEDA, #50C9C3);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #96DEDA, #50C9C3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.btn-bluegreen:hover
{
	background:transparent;
	color:#50C9C3;
	border: 1px solid #50C9C3;
}

.btn-bluegreen:active
{
	background:#50C9C3;
	color:white;
}

.btn-pinkorange
{
	background: #f2709c;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #ff9472, #f2709c);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #ff9472, #f2709c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.btn-pinkorange:hover
{
	background:transparent;
	color:#f2709c;
	border: 1px solid #f2709c;
}

.btn-pinkorange:active
{
	background:#f2709c;
	color:white;
}

/*
 *	now for a void version of the button
 */

.btn-void
{
	background-color:white;
	border:1px solid #607D8B;
	color:#607D8B;
}

.btn-void:hover
{
	background-color:#78909C;
	border:1px solid #78909C;
	color:white;
}

.btn-void:active
{
	background-color:#37474F;
	color:white;
}

/*
 * now changing button size from class identifier
 */

.btn-small
{
	min-width:60px;
	min-height:30px;
	font-size:14px;
}

.btn-large
{
	min-width:120px;
	min-height:60px;
	font-size:20px;
}

.btn-min
{
	min-width:0;
	min-height:0;
}

.btn-square
{
	border-radius:0;
}

.btn-line
{
	width: 100%;
}

/* now making what we can call a pseudo-link a link wich is not <a> but <span>*/

.pseudo-link
{
	color:#607D8B;
	text-decoration: none;
}

.pseudo-link:hover
{
	text-decoration: underline;
	cursor:pointer;
}

.pseudo-link:active
{
	color:#0F2027;	
}

/*
 *	not changing the theme for input fields
 */

input
{	
	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition: all 0.1s ease-in-out;
	-o-transition: all 0.1s ease-in-out;
	transition: all 0.1s ease-in-out;
	border:1px solid white;
	border-radius: 2px;
	/*box-shadow: 0px 0px 5px 0 #607D8B inset;*/
	font-size:20px;
	padding: 10px;
	color: #607D8B;
}

input:hover
{
	border: 1px solid #607D8B;
	/*box-shadow: 0 0 0 1px #607D8B inset;*/
}

input:focus
{
	outline:none;
	border: 1px solid #607D8B;
	/*box-shadow: 0 0 10px 0 #607D8B inset;*/
	color:black;
}

.input-large
{
	font-size: 22px;
}

.input-largest
{
	font-size:30px;
}

.input-label
{
	display:inline-flex;
}

.input-label input
{
	border-radius: 0 2px 2px 0;
}

.input-label label
{
	background-color:#607D8B;
	color:white;
	padding: 15px;
	min-width: 100px;
	border-radius: 2px 0 0 2px;
}

.input-button
{
	display:inline-flex;
}

.input-button button
{
	box-shadow: none;
	min-width: 100px;
	border-radius: 0 2px 2px 0;
}

.input-button input
{
	border-radius: 2px 0 0 2px;
}


/* styling other types of input */

select
{
	border: none;
    font-size: 21px;
    color: #123456;
    -webkit-appearance: none;
    border-radius: 2px;
    height: 44px;
	padding: 10px;
	border: 1px solid white;
	background-color: white;
	background-image:url("/images/updownforselect.png");
	background-size:20px;
	background-position: right;
	background-repeat: no-repeat;
}

select:hover
{
	border: 1px solid #607D8B;
}

select:invalid
{
	color: #CFD8DC;
}

/* styling radio buttons */
/* The container */
.radio-btn {
	display: block;
	position: relative;
	padding-left: 35px;
	margin-bottom: 12px;
	cursor: pointer;
	font-size: 22px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* Hide the browser's default radio button */
.radio-btn input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
}

/* Create a custom radio button */
.radio-btn .checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 50px;
	width:calc(100% - 20px);
	background-color: #eff0f2;
	padding:10px;
}

.radio-btn span span
{
	line-height:210%;
}

/* On mouse-over, add a grey background color */
.radio-btn:hover input ~ .checkmark {
	background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.radio-btn input:checked ~ .checkmark {
	background-color: #00224a;
	color: white;
}

/* still styling the input but i wanted to make the placeholder color lighter */

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #CFD8DC;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #CFD8DC;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #CFD8DC;
}
/*
 * now styling the counters
 */

.counter
{
	background-color:#263238;
	width : 250px;
	height: 250px;
	margin: auto;
	color:white;
	border-radius: 10px;
}

.counter-flow
{
	position:absolute;
	background-image:url("/images/green-arc02.png");
	background-size:cover;
	width: 250px;
	height: 250px;
}

.counter-mask
{
	background-color:#263238;
	position:relative;
	top:96px;
	width:250px;
	height:104px;
}

.counter
{
	font-weight: 100;
}

.counter .num0
{
	position:relative;
	top: 100px;
	right: 50px;
}

.counter .num1
{
	position:relative;
	top: 48px;
	right: 48px;
}

.counter .num2
{
	position:relative;
	top: 10px;
	right: 16px;
}

.counter .num3
{
	position:relative;
	top: 10px;
	right: -29px;
}

.counter .num4
{
	position:relative;
	top : 52px;
	left: 67px;
}

.counter .num5
{
	position: relative;
	top: 100px;
	left:60px;
}

/*
 *	now styling the footer
 */

.footer
{
	width: 100%;
	height: 200px;
	background-color: #002146;
	font-family: "Raleway";
	/* position: absolute; */
	left: 0;
	margin:0;
}

.footer .footer-sections
{
	width:100%;
	max-width: 1280px;
}

.footer div
{
	display:inline-table;
	margin-top:30px;
	height: 70%;
	color:#eff0f2;
	text-align: left;
	font-size: 14px;
}

.footer .footer-section1
{
	width: calc(33% - 1px);
	border-right: 1px solid #eff0f2;
}

.footer .footer-section2
{
	width: calc(33% - 1px);
	border-right: 1px solid #eff0f2;
}

.footer .footer-section3
{
	width: 33%;
}

.footer .footer-copyright
{
	color: #eff0f2;
	font-size:16px;
	margin:0;
	font-family:"Raleway";
}

.footer div li:not(.footer-title)
{
	margin: 5px 0 5px 0;
	color: hsla(0,0%,100%,.5);
}

.footer div li:not(.footer-title):hover
{
	color: hsla(0,0%,100%,1);
	cursor: pointer;
}

.footer-title
{
	font-size:20px;
	list-style:none;
	color: hsla(0,0%,100%,1);
	font-weight: bold;
	position: relative;
	font-family: "Titillium Web";
	left: -17px;
 */}

.footer-copyright
{
	background-color: #00224a;
}

/*  styling the poppup  that appreas in the screen everytime the Get help button is pressed*/

.popup
{
	z-index:20;
	opacity:0;
	display:none;
	position:fixed;
	left:0;
	top:0;
	width:100%;
	height:100%;
	text-align:center;
	background-color:#00224af0;
}
.popup .message-close
{
	position:fixed;
	top:0;
	left:0px;	
	width:100%;
	height:100%;
}

.popup	.message
{
	color:#37474F;
	background-color:#eff0f2;
	width:500px;
	font-family:"Play";
	-ms-transform: translateY(40%);
	transform: translateY(40%);
	border-radius:20px;
}

.popup .message input,select
{
	display:block;
	position:relative;
	margin:20px 0 0px 0;
	width: 90%;
}

.popup .message .btn
{
	border-radius: 0 0 20px 20px;
	margin:0;
	position: relative;
	top: 35px;
	width:100%;
}

.popup h1
{
	margin: 40px;
}

.topwhite
{
	background-color:white;
	border-radius:20px;
}

.popup .radio-btn .checkmark
{
	background-color: white;
}

.popup .radio-btn input:checked ~ .checkmark
{
	background-color: #eff0f2;
	color: inherit;
}

/*.popup .message-illustration
{
	position:absolute;
	background-color: white;
	width: 500px;
	height: 700px;
}*/

/* styling the flag container in the popup number section*/

.flag-container .selected-flag
{
	outline:none;
}

/*
**	now making separators in the design, also trying to make them assure a seamless transition
*/

.colour-block {
  background:#002247;
  width:60%;
  padding:7% 20% 10% 20%;
  color:#fff;
}
.white-block {
  background:#fff;
  width:60%;
  padding:7% 20% 10% 20%;
  color:#002247;
}

.skew-cc-t{
  width:100%;
  height:100px;
  position:absolute;
  left:0px;
  background: linear-gradient(to right bottom, transparent 49%, #fff 50%),    linear-gradient(-50deg, #ffffff 16px, transparent 0);
}

.skew-cc{
  width:100%;
  height:100px;
  position:absolute;
  left:0px;
  background: linear-gradient(to right bottom, #00224a 49%, #fff 50%),    linear-gradient(-50deg, #ffffff 16px, transparent 0);
}

.skew-cc-r{
  width:100%;
  height:100px;
  position:absolute;
  left:0px;
  background: linear-gradient(to right bottom, transparent 49%, #00224a 50%),    linear-gradient(-50deg, transparent 16px, transparent 0);
}


.skew-c{
  width:100%;
  height:100px;
  position:absolute;
  left:0px;
  background: linear-gradient(to left bottom, #fff 49%, #002247 50%);
}

.skew-c-r{
  width:100%;
  height:100px;
  position:absolute;
  left:0px;
  background: linear-gradient(to left bottom, #00224a 49%, #ffffff 50%);
}

#bigTriangleColor path {
	fill: #00224a;
	stroke: #00224a;
	stroke-width: 2;
}

/*  */

.services-container
{
	width:80%;
	padding:7% 10% 10% 10%;
}

.services-container .col-6
{
	margin:15px;
	min-height:200px;
	padding:25px;
	color: white;
	background-color: #00224a;
	background: linear-gradient(to right bottom, #00224a 90%, #fff 90%);
	animation-name: reversedeploy;
	animation-duration: 0.1s;
}

.services-container .col-6:hover
{
	animation-name: deploy;
	animation-duration: 0.1s;
	background: linear-gradient(to right bottom, #00224a 10%, #fff 10%);
	color:#00224a;
}

@keyframes deploy {
	0% {background: linear-gradient(to right bottom, #00224a 90%, #fff 90%);}
	5% {background: linear-gradient(to right bottom, #00224a 87%, #fff 87%);}
	10%  {background: linear-gradient(to right bottom, #00224a 85%, #fff 85%);}
	15%  {background: linear-gradient(to right bottom, #00224a 82%, #fff 82%);}
	20%  {background: linear-gradient(to right bottom, #00224a 80%, #fff 80%);}
	25%  {background: linear-gradient(to right bottom, #00224a 75%, #fff 75%);}
	30%   {background: linear-gradient(to right bottom, #00224a 70%, #fff 70%);}
	35%   {background: linear-gradient(to right bottom, #00224a 65%, #fff 65%);}
	40%   {background: linear-gradient(to right bottom, #00224a 60%, #fff 60%);}
	45%   {background: linear-gradient(to right bottom, #00224a 55%, #fff 55%);}
	50%   {background: linear-gradient(to right bottom, #00224a 50%, #fff 50%);}
	55%   {background: linear-gradient(to right bottom, #00224a 45%, #fff 45%);}
	60%   {background: linear-gradient(to right bottom, #00224a 40%, #fff 40%);}
	65%   {background: linear-gradient(to right bottom, #00224a 35%, #fff 35%);}
	70%   {background: linear-gradient(to right bottom, #00224a 30%, #fff 30%);}
	75%   {background: linear-gradient(to right bottom, #00224a 25%, #fff 25%);}
	80%   {background: linear-gradient(to right bottom, #00224a 20%, #fff 20%);}
	85%   {background: linear-gradient(to right bottom, #00224a 17%, #fff 17%);}
	90%   {background: linear-gradient(to right bottom, #00224a 15%, #fff 15%);}
	95%   {background: linear-gradient(to right bottom, #00224a 12%, #fff 12%);}
	100%   {background: linear-gradient(to right bottom, #00224a 10%, #fff 10%);}
}

@keyframes reversedeploy {
	0%   {background: linear-gradient(to right bottom, #00224a 10%, #fff 10%);}
	5%   {background: linear-gradient(to right bottom, #00224a 12%, #fff 12%);}
	10%   {background: linear-gradient(to right bottom, #00224a 15%, #fff 15%);}
	15%   {background: linear-gradient(to right bottom, #00224a 17%, #fff 17%);}
	20%   {background: linear-gradient(to right bottom, #00224a 20%, #fff 20%);}
	25%   {background: linear-gradient(to right bottom, #00224a 25%, #fff 25%);}
	30%   {background: linear-gradient(to right bottom, #00224a 30%, #fff 30%);}
	35%   {background: linear-gradient(to right bottom, #00224a 40%, #fff 40%);}
	40%   {background: linear-gradient(to right bottom, #00224a 35%, #fff 35%);}
	45%   {background: linear-gradient(to right bottom, #00224a 45%, #fff 45%);}
	50%   {background: linear-gradient(to right bottom, #00224a 50%, #fff 50%);}
	55%   {background: linear-gradient(to right bottom, #00224a 55%, #fff 55%);}
	60%   {background: linear-gradient(to right bottom, #00224a 60%, #fff 60%);}
	65%   {background: linear-gradient(to right bottom, #00224a 65%, #fff 65%);}
	70%   {background: linear-gradient(to right bottom, #00224a 70%, #fff 70%);}
	75%  {background: linear-gradient(to right bottom, #00224a 75%, #fff 75%);}
	80%  {background: linear-gradient(to right bottom, #00224a 80%, #fff 80%);}
	85%  {background: linear-gradient(to right bottom, #00224a 82%, #fff 82%);}
	90%  {background: linear-gradient(to right bottom, #00224a 85%, #fff 85%);}
	95% {background: linear-gradient(to right bottom, #00224a 87%, #fff 87%);}
	100% {background: linear-gradient(to right bottom, #00224a 90%, #fff 90%);}
}

.services-container h1
{
	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition: all 0.1s ease-in-out;
	-o-transition: all 0.1s ease-in-out;
	transition: all 0.1s ease-in-out;
	position:relative;
	top:50px;
	font-family: "Raleway";
}

.services-container .col-6:hover h1
{
	opacity:0;
}

.services-container .col-6:hover p
{
	opacity:1;
}

.services-container p
{
	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition: all 0.1s ease-in-out;
	-o-transition: all 0.1s ease-in-out;
	transition: all 0.1s ease-in-out;
	opacity:0;
	position:relative;
	top:-50px;
} 

/*
**	now making a list who's elements appear on click and make the rest of elements disappear
**
**	i gave the list the class="dropdown-list" and clickable elements class="listhead"
**	and added a p tag as the text that will be displayed


.dropdown-list
{
	margin : 50px;
}

.dropdown-list
{
	list-style-type: none;
}

.dropdown-list .listhead
{
	width: 100%;
	background-color: white;
}

.dropdown-list .listhead span
{
	margin:0;
	padding:0;
}
*/
