<!DOCTYPE html>
<html>
  <head>
    <title>Crynel</title>
    <link rel="stylesheet" href="/css/lib/ini.css" type="text/css">
    <link rel="stylesheet" href="/css/lib/grid.css" type="text/css">
    <link rel="stylesheet" href="/css/forms.css" type="text/css">
    <link rel="stylesheet" href="/css/style.css" type="text/css">
	<link rel="stylesheet" href="/css/theme.css" type="text/css">
	<link rel="stylesheet" href="/css/main.css" type="text/css">
	<link rel="stylesheet" href="/css/popup.css" type="text/css">
	<script src="/js/popup.js"></script>
	<meta charset="utf-8"/>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+SC|Play|Raleway|Unica+One|Rajdhani|Gamja+Flower|Lato|Thasadith|Quicksand" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Chakra+Petch|Julius+Sans+One|Montserrat+Subrayada|Orbitron|Rajdhani|Rubik+Mono+One|Russo+One|Six+Caps" rel="stylesheet">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
  </head>
	<div class="navbar">
 		<%- include includes/navbar.ejs %>
	</div>
  <body>
	<div class="big-title">
		<h1>Contact us</h1>
	</div>
	<section class="main row">
			<div class="col-6 infos">
				<div class="inf">
					<p>
Thank you for your interest in Crynel cyber security products and services. If you would like to learn more, or have questions and wish to speak with a representative, please take a moment to complete our form and we will contact you shortly. If you need immediate assistance with an incident, please view our Incident Response e-mail or numbers.
					</p>
					<div id="about">
						<div class="row">
							<p class="col-6">Phone number: </br><b>+212 654265428</b></br></br>
							Office location:  </br><b>1337, Khouibga
							</br>GPS : <a target="__blank" href="https://www.google.com/maps/place/32%C2%B052'55.8%22N+6%C2%B053'51.8%22W/@32.882163,-6.8999017,17z/">32.882163,-6.897713.</a></b></p>
							<p class="col-6">Office hours: </br><b>Monday to Friday, 8AM to 7PM</b></br></br>
							Our support e-mail: </br><b>support@exanel.info</b></p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-6">
				<form class="form" method="post" enctype="application/json">
					<div class="body">
						<div class="control has-controls">
							<div class="control">
								<input class="textbox" type="text" placeholder="First name" name="fname" />
							</div>
							<div class="control">
								<input class="textbox" type="text" placeholder="Last name" name="lname" />
							</div>
						</div>
						<div class="control">
							<input class="textbox" type="text" placeholder="Email" name="email" />
						</div>
						<div class="control">
							<select class="textbox" name="role">
								<option id="0">Role</option>
								<option id="1">Platform user</option>
								<option id="2">Software developer</option>
								<option id="3">Engeneer exec/manager</option>
								<option id="4">Product Managment</option>
								<option id="5">Marketing</option>
								<option id="6">Security and Compilance</option>
								<option id="7">Other</option>
							</select>
						</div>
						<div class="control">
							<input class="textbox" type="text" placeholder="Subject" name="subject" />
						</div>
						<div class="control">
							<textarea class="textbox" placeholder="Describe your problem" name="text"></textarea>
						</div>
						<div class="control">
							<button class="btn" type="submit">Contact</button>
						</div>
					</div>
				</form>
			</div>
	</section>
	<section class="location row">
		<div class="col-6">
			<img src="/images/location.png" alt="location" />
		</div>
	</section>
	<div class="popup" id="popup">
 		<%- include includes/popup.ejs %>
	</div>
</div>
	</section>
	<div class="cookie-popup">
		<span class="btn-close">&times;</span>
		<div class="text">
			By using our site, you acknowledge that you have read and understand our Cookie Policy, Privacy Policy, and our Terms of Service.
		</div>
	</div>
	<div class="footer">
 		<%- include includes/footer.ejs %>
	</div>
  </body>
<script>
	popup('.cookie-popup', 'cookie-popup');
	$("script").remove();
</script>
</html>
