<ul>
	<a class="main-logo" href="/">
		<img src="/images/exanelminilogo.png" width="50px">
		<h2>E x a n e l</h2>
		<div class="hover-filter"></div>
	</a>
	<div class="dropdown-container"> 
		<a><li>Services</li></a>
		<div class="dropdown-menu">
			<a href="/services"><li>Security Assessement</li></a></br>
			<a href="/training"><li>Offensive Security Training</li></a></br>
		</div>
	</div>
</ul>
